openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie.fragment.test/Openchrom.log.*
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie.fragment.test/Openchrom.log
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie.fragment.test/bin/*
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie.ui.fragment.test/bin/*
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie.ui/bin/*
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie/bin/*
openchrom/sites/net.openchrom.xxd.processor.supplier.dalhousie.updateSite/artifacts.jar
openchrom/sites/net.openchrom.xxd.processor.supplier.dalhousie.updateSite/content.jar
openchrom/sites/net.openchrom.xxd.processor.supplier.dalhousie.updateSite/features/
openchrom/sites/net.openchrom.xxd.processor.supplier.dalhousie.updateSite/plugins/
openchrom/features/net.openchrom.xxd.processor.supplier.dalhousie.feature/target/
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie.ui/target/
openchrom/plugins/net.openchrom.xxd.processor.supplier.dalhousie/target/
openchrom/sites/net.openchrom.xxd.processor.supplier.dalhousie.updateSite/target/
