<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="net.openchrom.xxd.processor.supplier.dalhousie.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Dalhousie Underwater Experiments Settings"
            category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.xxd.processor.supplier.dalhousie.ui.preferences.PreferencePage"
            id="net.openchrom.xxd.processor.supplier.dalhousie.ui.preferences.preferencePage">
      </page>
   </extension>
</plugin>
